<div class="csv-viewer">
    <h2>Angular CSV Viewer</h2>
    <div class="file-upload">
      <input
        type="file"
        accept=".csv"
        (change)="handleFileUpload($event)"
        #fileInput
        style="display: none"
      />
      <button (click)="openFileSelector()">
        Select CSV File
      </button>
      <span class="file-name" *ngIf="fileName">{{ fileName }}</span>
    </div>
  
    <div class="csv-preview" *ngIf="csvData">
      <p *ngIf="csvData.data.length > 5">CSV data length: {{ csvData.data.length }} </p>
    </div>
  </div>