<div class="csv-viewer">
    <h2>Angular CSV Viewer</h2>
    <div class="file-upload">
      <input
        type="file"
        accept=".csv"
        (change)="handleFileUpload($event)"
        #fileInput
        style="display: none"
      />
      <button (click)="openFileSelector()">
        Select CSV File
      </button>
      <span class="file-name" *ngIf="fileName">{{ fileName }}</span>
    </div>
  
    <div class="csv-preview" *ngIf="csvData">
      <table>
        <thead>
          <tr>
            <th *ngFor="let header of csvData.headers; let i = index">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of csvData.data; let rowIndex = index"
              [class.selected]="selectedRow === rowIndex">
            <td *ngFor="let cell of row">{{ cell }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="selectedRow !== null">Selected {{ selectedRow + 1 }} row, values are: {{ csvData.data[selectedRow].join(', ') }}</p>
    </div>
</div>